<app-navbar />

<section class="w-screen h-screen items-center text-center text-content-primary">
  <img
    src="https://images.igdb.com/igdb/image/upload/t_720p/scsvjv.webp"
    alt="Hero background"
    class="opacity-80 absolute h-full object-cover object-center top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 z-0 background"
  />
  <main class="flex flex-col relative z-1 h-full w-full items-center">
    <div class="flex flex-col justify-center h-128">
      <h1 class="font-diablo-heavy text-8xl tracking-tighter uppercase">Domina la partida</h1>
      <p class="text-2xl font-diablo-light text-content-secondary uppercase">
        Aunque lo importante sea participar... o no.
      </p>
    </div>
    <div class="flex gap-4">
      @if (isLoading()) {
        <app-loading-state />
      } @else if (!isLogged()) {
        <app-gaming-button label="VER ZONAS" href="#zones" [useRouterLink]="false" />
        <app-gaming-button label="REGISTRARSE" href="/register" />
      } @else {
        <app-gaming-button label="VER ZONAS" href="#zones" [useRouterLink]="false" />
      }
    </div>
  </main>
</section>

<section
  id="zones"
  class="w-screen h-screen flex flex-col gap-7 items-center text-center text-content-primary"
>
  <header class="mt-16">
    <h1 class="mt-7 text-6xl font-diablo">ZONAS GAMING</h1>
    <p class="text-lg text-content-secondary">
      Desde jugar con tus amigos, entrenar como los mejores, o realizar tus propios streams, tu
      eliges
    </p>
  </header>

  <main class="h-full flex gap-4">
    @if (zoneResource.isLoading()) {
      <app-loading-state />
    } @else if (zoneResource.error()) {
      <app-error-state />
    }
    @if (zoneResource.value()) {
      @for (zone of zoneResource.value(); track zone.id) {
        <div class="max-w-2xs shrink-0 text-left">
          <img
            [src]="zone.coverImage"
            alt="Imagen de la zona"
            class="w-2xs select-none opacity-80 hover:opacity-100 transition-opacity duration-150"
          />
          <h2 class="mt-2 text-4xl font-diablo text-primary-light">{{ zone.name }}</h2>
          <p>{{ zone.description }}</p>
        </div>
      } @empty {
        <app-empty-state />
      }
    }
  </main>
  <app-gaming-button label="VER PRECIOS" [asLink]="true" class="mb-24" />
</section>

<app-footer />
