<header class="h-16 max-h-16 w-screen flex justify-center fixed z-2 top-0">
  <div class="max-w-6xl w-full flex justify-between items-center px-2">
    <span>
      {{ appName }}
    </span>
    <div class="flex gap-4">
      @for (link of navLinks; track $index) {
        <a
          class="text-content-secondary hover:cursor-pointer hover:text-primary-light transition-colors duration-150"
          [routerLink]="link.path"
          >{{ link.label }}</a
        >
      }
    </div>
    <div></div>
  </div>
</header>
