<header class="h-16 max-h-16 w-screen flex justify-center relative z-1">
  <div class="max-w-6xl w-full flex justify-between items-center px-2">
    <a href="/" class="text-sm text-content-muted font-semibold hover:text-content-primary p-4">
      {{ appName }}
    </a>
    <div class="flex gap-4">
      <a
        href="https://github.com/mariomo16/tfg-2daw"
        title="Github link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-github-icon [size]="size" />
      </a>
      <a
        href="https://discord.gg/umSwM4Z2ST"
        title="Discord link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-discord-icon [size]="size" />
      </a>
      <a
        href="https://www.instagram.com/ortegamario.02"
        title="Instagran link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-instagram-icon [size]="size" />
      </a>
      <a href="https://x.com/mariomo16cs" title="X link" target="_blank" rel="noopener noreferrer">
        <app-x-icon [size]="size" />
      </a>
    </div>
  </div>
</header>
