<div class="max-w-400 mx-auto p-8 space-y-8">
  <header class="flex flex-col sm:flex-row sm:items-center justify-between gap-4">
    <div>
      <h1 class="text-3xl font-bold text-content-primary tracking-tight">{{ title() }}</h1>
      <p class="text-content-muted mt-2">{{ description() }}</p>
    </div>
    @if (actionLabel() && actionRoute()) {
      <a
        [routerLink]="actionRoute()"
        class="px-4 py-2 text-sm font-medium text-zinc-900 bg-content-primary hover:bg-zinc-200 rounded-md transition-colors cursor-pointer inline-flex items-center justify-center"
      >
        {{ actionLabel() }}
      </a>
    }
  </header>

  <section class="bg-surface-card/30 border border-surface-border rounded-xs">
    <table class="w-full text-left border-collapse table-fixed">
      <thead>
        <tr class="border-b border-surface-border bg-surface-card/50">
          @for (column of columns(); track column) {
            <th class="px-6 py-4 text-xs font-medium text-content-muted uppercase tracking-wider">
              {{ column }}
            </th>
          }
          @if (actions()) {
            <th
              class="px-6 py-4 text-right text-xs font-medium text-content-muted uppercase tracking-wider"
            >
              Acciones
            </th>
          }
        </tr>
      </thead>
      <tbody class="divide-y divide-surface-border">
        @if (isEmpty()) {
          <tr>
            <td
              [attr.colspan]="totalColumns()"
              class="px-6 py-12 text-center text-md text-content-muted"
            >
              <app-empty-state text="No hay datos que mostrar" />
            </td>
          </tr>
        } @else {
          <ng-content />
        }
      </tbody>
    </table>
  </section>
</div>
