@let user = currentUser();

<div class="min-h-screen flex flex-col">
  <app-navbar />
  <main class="flex-1 pt-24 pb-12 px-6">
    <div class="max-w-350 mx-auto">
      <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
        <aside class="lg:col-span-3">
          <div class="bg-surface-card/50 border border-surface-border rounded-sm sticky top-24">
            <div
              class="relative p-6 pb-4 flex flex-col items-center border-b border-surface-border/50"
            >
              <div
                class="relative w-24 h-24 rounded-xs bg-surface-card border border-surface-border flex items-center justify-center overflow-hidden"
              >
                @if (user?.image) {
                <img [src]="`${storageUrl}/${user?.image}`" alt="" class="shrink-0" />
                } @else {
                <span class="text-5xl font-game text-content-primary">
                  {{ user?.name?.charAt(0) }}</span
                >
                }
              </div>

              <div class="text-center mt-4">
                <div class="flex items-center justify-center gap-2">
                  <h1 class="text-lg font-bold text-content-primary truncate max-w-45">
                    {{ user?.name }}
                  </h1>
                </div>

                <p class="text-sm text-content-muted truncate mt-1">{{ user?.email }}</p>

                <span
                  class="px-2 py-0.5 bg-success/10 text-success text-[9px] font-bold rounded-xs border border-success/20 uppercase"
                >
                  {{ currentUserRole() }}
                </span>
              </div>

              <button
                type="button"
                (click)="toggleEditing()"
                class="mt-5 w-full flex items-center justify-center gap-2 px-4 py-2.5 bg-zinc-800 hover:bg-zinc-700 text-zinc-200 text-xs font-semibold rounded-xs border border-surface-border cursor-pointer"
              >
                EDITAR PERFIL
              </button>
            </div>

            <div class="p-4">
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-[10px] text-content-muted uppercase tracking-[0.15em] font-bold">
                    Créditos disponibles
                  </p>
                  <p class="text-2xl font-game text-success-light mt-1">
                    {{ user?.balance | currency: 'EUR' }}
                  </p>
                </div>
              </div>

              <button
                type="button"
                class="w-full mt-4 py-3 bg-zinc-100 hover:bg-white text-zinc-900 text-xs font-black rounded-xs transition-all cursor-pointer disabled:cursor-not-allowed"
                [disabled]="true"
              >
                RECARGAR
              </button>
            </div>
          </div>
        </aside>

        <section class="lg:col-span-6">
          @if (isEditing()) {
          <app-edit-profile (cancel)="toggleEditing()" (saved)="onProfileSaved()" />
          } @else {
          <app-user-reservations />
          }
        </section>
        @if (!isEditing()) {
        <section class="lg:col-span-3">
          <app-user-payments />
        </section>
        }
      </div>
    </div>
  </main>
  <app-footer />
</div>
