@import "tailwindcss";

@font-face {
	font-family: "bildad";
	src: url("/fonts/diablo/bildad.woff2") format("woff2");
}

@font-face {
	font-family: "diablo_light";
	src: url("/fonts/diablo/diablo_light.woff2") format("woff2");
}

@font-face {
	font-family: "diablo_heavy";
	src: url("/fonts/diablo/diablo_heavy.woff2") format("woff2");
}

@theme {
	--font-diablo: "bildad";
	--font-diablo-light: "diablo_light";
	--font-diablo-heavy: "diablo_heavy";
}

:root {
	font-family: sans-serif;
}
